:host {
  display: block;
}

.active-link {
  @apply bg-slate-50 dark:bg-slate-900/40 border-slate-100 dark:border-slate-800/50;
}

.active-link span {
  @apply text-slate-900 dark:text-white font-bold;
}

.active-link svg {
  @apply text-cyan-600 dark:text-cyan-400;
  filter: drop-shadow(0 0 5px rgba(6, 182, 212, 0.5));
}

aside {
  transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

nav a span {
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease,
    width 0.3s ease;
}
